Content: Coursera, Python Essentials for MLOps, Module 4, Intro to Pandas and Numpy

# Key Terms

**Data frame**: A two-dimensional data structure inside Pandas similar to a spreadsheet, with columns and rows.

**Series**: A one-dimensional array with axis labels, usually created from a Pandas data frame column.

**Loading**: The process of reading external data into a Pandas data frame.

**Exploratory analysis**: Initial investigation of data to understand its characteristics before further analysis.

**Exporting**: Saving data from a Pandas data frame out to another format like CSV or Excel.

### Installation

As always, use a virtual environment (or similar) to install pandas and its dependencies:

```dotnetcli
$ python3 -m venv venv
$ source venv/bin/activate
```

The example above should work for Linux and OSX, but there is support for Windows systems as well. [Follow the documentation if you need help](https://docs.python.org/3/library/venv.html).

The package to install is `pandas`, definitely not here, in Windows PowerShell, in the exact location of venv which is venvMLOps in this repo.

In [4]:
#!pip install pandas
import pandas as pd

# Create data frame 
data = [[1, 2], [3, 4]] 
df = pd.DataFrame(data, columns=['Num1', 'Num2'], index=['R1', 'R2'])
print(df)

# Create series
s = df['Num1']
print(s)

    Num1  Num2
R1     1     2
R2     3     4
R1    1
R2    3
Name: Num1, dtype: int64

In [35]:
#list of lists
data = [[4, 2, 1],
        [3, 0, 1],
        [1, 0, 0]]


columns = ['apples', 'bananas', 'oranges']
index = ['Monday', 'Tuesday', 'Wednesday']

df = pd.DataFrame(data, index, columns)
print(df)

           apples  bananas  oranges
Monday          4        2        1
Tuesday         3        0        1
Wednesday       1        0        0

In [5]:
# Load CSV file into data frame
#df = pd.read_csv('data.csv') 

# Exploratory analysis
#print(df.describe())

# Export data frame to CSV
#df.to_csv('export.csv')

In [6]:
#list of lists
data = [[4, 2, 1],
        [3, 0, 1],
        [1, 0, 0]]


columns = ['apples', 'bananas', 'oranges']
index = ['Monday', 'Tuesday', 'Wednesday']

df = pd.DataFrame(data, index, columns)
print(df)

           apples  bananas  oranges
Monday          4        2        1
Tuesday         3        0        1
Wednesday       1        0        0

In [47]:
#help(pd.DataFrame)
#pd.DataFrame?

In [45]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)], dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)])
data
#df3 = pd.DataFrame(data, columns=['c', 'a'])
#df3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Loading data into Pandas

There are different ways to load data into Pandas. The library is extremely flexible allowing you to work with different popular data formats. This notebook will show you how to load from different sources which include both local and remote.

In [8]:
#import pandas as pd
csv_url = "https://raw.githubusercontent.com/paiml/wine-ratings/main/wine-ratings.csv"
# set index_col to 0 to tell pandas that the first column is the index

df = pd.read_csv(csv_url, index_col = 0)
df.head(5)

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...

In [15]:
df = pd.read_csv("data/world-championship-qualifier.csv")
print(df.head(5))

   Rank             Name     Nationality Result Notes Group
0   1.0    Svatoslav Ton  Czech Republic   2.14     q     A
1   1.0     Toni Huikuri        Finlandi   2.14     q     A
2   1.0   James Brierley  United Kingdom   2.14     q     A
3   1.0    Noriyasu Arai           Japan   2.14     q     A
4   5.0  Yannick Tregaro          Sweden   2.14     q     A

In [17]:
df = pd.read_json("data/world-championship-qualifier.json")
df.head(3)

   Rank            Name     Nationality Result Notes Group
0   1.0   Svatoslav Ton  Czech Republic   2.14     q     A
1   1.0    Toni Huikuri        Finlandi   2.14     q     A
2   1.0  James Brierley  United Kingdom   2.14     q     A

In [18]:
df = pd.read_clipboard()

In [28]:
# Interactive Help in Python 

# List all the commands in dir(pd)
#all_commands = dir(pd)
#print(all_commands)

#dir(pd)

# List the first three commands in dir(pd)
first_three_commands = dir(pd)[:3]
print(first_three_commands)

['ArrowDtype', 'BooleanDtype', 'Categorical']

In [29]:
# List all commands starting with 'read_'
read_commands = [cmd for cmd in dir(pd) if cmd.startswith('read_')]
print(read_commands)

['read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml']

In [32]:
import numpy as np
len(dir(np))

535

### Writing data from Pandas Dataframes

Once data is loaded in a `Dataframe` object in Pandas, you have the ability to transform that data to various different formats including the clipboard. Most destinations will require a path on the filesystem for writing the output.

In [67]:
df = pd.read_csv("data/world-championship-qualifier.csv")
df.head(3)

   Rank            Name     Nationality Result Notes Group
0   1.0   Svatoslav Ton  Czech Republic   2.14     q     A
1   1.0    Toni Huikuri        Finlandi   2.14     q     A
2   1.0  James Brierley  United Kingdom   2.14     q     A

#### Write to many other destinations

In [60]:
to_commands= [cmd for cmd in dir(df) if cmd.startswith('to_')]
print(to_commands)

['to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml']

In [66]:
# export a dataset to HTML
html_df = df.to_html("data/to_html_dataset.html")

In [59]:
df.to_csv?

Signature:
df.to_csv(
    path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None,
    *,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | Callable | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    lineterminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'OpenFileErrors' = 'strict',
    storage_options: 'StorageOptions | None' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str, path object, file-like object, or None, default None
    String, path object (implementing os.PathLike[str]), or file-like
    object implementing a write() function. If None, the result is
    returned as a string. If a non-binary file object is passed, it should
    be opened with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.
sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, Callable, default None
    Format string for floating point numbers. If a Callable is given, it takes
    precedence over other numeric formatting parameters, like decimal.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : {'w', 'x', 'a'}, default 'w'
    Forwarded to either `open(mode=)` or `fsspec.open(mode=)` to control
    the file opening. Typical values include:

    - 'w', truncate the file first.
    - 'x', exclusive creation, failing if the file already exists.
    - 'a', append to the end of file if it exists.

encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    Set to ``None`` for no compression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for faster compression and to create
    a reproducible gzip archive:
    ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

       May be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

       Passing compression options as keys in dict is
       supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.
quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
lineterminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

    .. versionchanged:: 1.5.0

        Previously was line_terminator, changed for consistency with
        read_csv and the standard library 'csv' module.

chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
Create 'out.csv' containing 'df' without indices

>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv('out.csv', index=False)  # doctest: +SKIP

Create 'out.zip' containing 'out.csv'

>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'
>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP

To write a csv file to a new folder or nested folder you will first
need to create it using either Pathlib or os:

>>> from pathlib import Path  # doctest: +SKIP
>>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
>>> df.to_csv(filepath)  # doctest: +SKIP

>>> import os  # doctest: +SKIP
>>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
>>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP
File:      d:\course\python\mlops\venvmlops\lib\site-packages\pandas\core\generic.py
Type:      method

#### Copy/Paste into other formats
This flexibility of Pandas to allow you to read and write to many different formats and destinations can be used to create quick utilities like transforming a CSV file to paste to Excel or Markdown

In [62]:
#!pip install tabulate 


# Note: It is wrong, you should not install a module in venv directly from nb, but you should go to powershell and install the module ther

Requirement already satisfied: tabulate in c:\users\mo\anaconda3\lib\site-packages (0.9.0)

In [72]:
# to markdown and then to clipboard
# this needs tabulate dependency
from pandas.io.clipboards import to_clipboard
md = df.to_markdown()
to_clipboard(md, excel=False)

In [73]:
import tabulate
tabulate.__version__

'0.9.0'